@use "./ui.scss";
.booking {
  flex: 0 0 40px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font: {
    weight: 600;
    size: 1.2rem;
  }
  // width: 40px;
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: ui.$black;
  color: ui.$white;
  &:hover {
    background-color: ui.$orange;
  }
}
