@use "./ui.scss";

.footer {
  display: flex;

  justify-content: space-between;
  color: ui.$white;
  font: {
    size: 0.8rem;
  }
  padding: 2rem;
  padding-top: 4rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: ui.$black;
  
}

.contact {
    margin-top: 1rem;
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.3rem;
  list-style-type: none;
  li {
    &:hover {
      color: ui.$orange;
    }
  }
}

/* Mobile devices (less than 768px) */
@media (max-width: 767px) {
.footer{
  border-radius: 0;
}
}