@use "ui.scss";
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: ui.$white;
  padding: 2rem 3rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
body {
  gap: 3rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  // border: 1px solid red;
}

main {
  width: 1024px;
}

footer {
  width: 1024px;
}

/* Tablet devices (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
  body{
    padding:1rem;
    
  }
  header {
    padding:1rem;
    width: 100dvw;
    nav{
      display: none;
    }
  }

  main {
    padding:1rem;
    width: 100dvw;
    width: 100%;
  }

  footer {
    padding:1rem;
    width: 100dvw;
    width: 100%;
  }
}

/* Mobile devices (less than 768px) */
@media (max-width: 767px) {
  html{
    padding: 0;
  }
  body{
    padding:0rem;
    gap:0;
  }
  header {
    width: 100dvw;
    padding:1rem;
    nav{
      display: none;
    }
  }

  main {
    padding:1rem;
    width: 100dvw;
  }

  footer {
    padding:1rem;
    width: 100dvw;
    
  }
}
