.logo {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  flex: 0 1 350px;
  justify-content: flex-start;
  h1 {
    font: {
      size: 1.2rem;
      weight:400;
    }
    span{
      font:{
        weight:800;
      }
    }

  }

  svg {
    font: {
      size: 1.5rem;
    }
  }
}
