@use "./ui.scss";
.pricing {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  overflow: scroll;
  gap: 2rem;
  overflow: scroll;
}

.card {
  flex: 0 0 320px;
  flex-flow: row-reverse;
  border-radius: 0.5rem;
  height: 150px;
  border: 2px solid white;
  display: flex;
  justify-content: space-between;

  // flex-flow: column nowrap;
  overflow: hidden;
  background-color: ghostwhite;
  span {
    color: ui.$orange;
    font: {
      weight: 600;
      size: 1rem;
    }
  }
  p {
    font: {
      size: 1.5rem;
      weight: 600;
    }
  }
}

.description {
  padding: 1rem;
}

.wrapper {
  position: relative;
  height: 100%;
  width: 50%;
  img {
    object-fit: cover;
  }
}
.featured {
  background-color: rgba(ui.$orange, 0.1);
  border-color: ui.$orange;
}
.bestValue {
  margin-top:0.5rem;
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  background-color: ui.$orange;
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: black;
  align-self: flex-start;
  font: {
    weight: 600;
  }
  svg {
    font: {
      size: 1.2rem;
    }
  }
}

/* Tablet devices (768px to 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .pricing{
    justify-content: flex-start;
  }
}

/* Mobile devices (less than 768px) */
@media (max-width: 767px) {
  .pricing{
    justify-content: flex-start;
  }
}