.testimonials{
    background-color: ghostwhite;
    width: 250px;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-flow:  column nowrap;
    gap:0.5rem;
    span{
        font:{
            size: 1rem;
        }
    }
    p{
        font:{
            size: 0.8rem;
        }
        
        text-align: justify;
    }
}

.wrapper{
    position: relative;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
    img{
        object-fit: cover;
    }
}